* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
}

.font2{
font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

   body{
  margin:0;
  background:#050507;
  font-family:'Montserrat', sans-serif;
  color:#fff;
}

/* HERO SECTION */
.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:0 80px;
  background:
    radial-gradient(circle at 30% 0%, #111 0%, transparent 40%),
    radial-gradient(circle at 80% 20%, #1a0b0b 0%, transparent 35%),
    #050507;
}

.hero-text{
  max-width:600px;
}

/* TITLE */
.hero h1{
  font-size:64px;
  line-height:1.05;
  font-weight:900;
  margin-bottom:28px;
}

.hero h1 span{
  background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* DESCRIPTION */
.hero p{
  font-size:19px;
  color:#9b9b9b;
  margin-bottom:42px;
  max-width:520px;
}

/* BUTTON */
.btn{
  display:inline-block;
  padding:16px 36px;
  border-radius:50px;
  background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  color:#fff;
  font-weight:800;
  letter-spacing:.5px;
  text-decoration:none;
  box-shadow:0 0 40px rgba(255,45,45,.45);
  transition:.4s;
}

.btn:hover{
  transform:translateY(-4px) scale(1.05);
  box-shadow:0 0 60px rgba(255,45,45,.7);
}

/* MOBILE */
@media(max-width:768px){
  .hero{
    padding:0 28px;
  }
  .hero h1{
    font-size:44px;
  }
}

/* HEADER */
.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:28px 80px;
  z-index:100;
  background:linear-gradient(
    to bottom,
    rgba(5,5,7,.85),
    rgba(5,5,7,0)
  );
}

/* LOGO */
.logo{
  height:48px;
  cursor:pointer;
  transition:.3s ease;
}

.logo:hover{
  transform:scale(1.05);
  filter:drop-shadow(0 0 12px rgba(255,45,45,.6));
}

